:root {
  --main-bg-color: #eee;
  --main-fg-color: #000;
  --title-bg-color: #DDD;
  --button-color: #48F;
  --link-color: #36C;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.head {
  display: flex;
  font-size: xx-large;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
  background: var(--title-bg-color);
}
.head img {
  height: 1em;
  vertical-align: middle;
  margin: 5px;
}
a {
  color: var(--link-color);
}
.App {
  background: var(--main-bg-color);
  color: var(--main-fg-color);
}
.blocked {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.dialog {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.dialog>* {
  background: var(--main-bg-color);
  border-radius: 5px;
  padding: 1em;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  width: 800px;
}
.dialog-heading {
  display: flex;
  justify-content: space-between;
  font-size: xx-large;
  font-weight: bold;
  margin: 10px;
  position: relative;
}
.dialog-close {
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: top;
}
.dialog pre {
  width: 100%;
  overflow: auto;
  background: #222;
  color: #eee;
  padding: 1em;
}
.save-as-gist-pat {
  display: flex;
  align-items: center;
}
.save-as-gist-pat>* {
  vertical-align: middle;
}
.save-as-gist-pat>div:nth-child(1) {
  flex: 0 0 auto;
}
.save-as-gist-pat>div:nth-child(2) {
  flex: 1 1 auto;
}
.section {
  margin: 10px;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 1em;
}
.section-heading {
  font-size: large;
  border-bottom: 1px solid #888;
  margin-bottom: 1em;
}
.bookmark {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.disabled {
  opacity: 0.2;
  pointer-events: none;
  cursor: not-allowed;
}
.top,
.bottom {
  display: flex;
  padding: 10px;
  position: relative;
}
.top>div,
.bottom>div {
  flex: 1 5 50%;
}
.top .right {
  display: flex;
}
.left {
  width: 50%;
  position: relative;
}
.right {
  margin-left: 10px;
}
.messages {
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
.messages>div {
  background: #888;
  color: white;
  padding: 0.5em;
  margin: 0.25em;
  border-radius: 0.25em;
}
.messages .error {
  background: #C00;
}
.messages .info {
  background: #00F;
}
input {
  border: none;
  padding: 0.25em;
  background: var(--title-bg-color);
  color: var(--main-fg-color);
}

input[type="text"],
input[type="password"] {
  outline: none;
  width: 100%;
  font-size: large;
}
.charts {
  margin-top: 1em;
}
.named {
  padding: 0.25em;
}
.code-area {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  flex: 1 1 auto;
  background: #555;
}
.code-area button {
  margin-right: 0;
}
.code-area input {
  background: #555;
  font-size: medium;
}
.expander {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.hider {
  width: 1em;
  color: #888;
}
.result {
  margin-top: 1em;
}
.result-result {
  display: block;
  width: 100%;
  margin: 0.25em 0;
  background-color: #222;
  border-radius: 0.25em;
  white-space: nowrap;
}
.result-result>span {
  display: inline-block;
  padding: 0.125em;
  width: 0px;
  transition: width 0.2s ease-out;
}
.hidee {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}
.hidee>* {
  flex: 1 1 auto;
}
.hidee-hide {
  height: 0;
  overflow: hidden;
}
button {
  background: none;
  border: 2px solid var(--button-color);
  color: var(--main-fg-color);
  border-radius: 0.25em;
  padding: 0.25em;
  margin-right: 0.25em;
  min-width: 1.5em;
  font-weight: bold;
}
button:hover {
  background: var(--button-color);
}

.react-codemirror2 {
  position: relative;
  height: 100%;
}
.CodeMirror {
  width: 100%;
  height: 100%;
}
.CodeMirror-overlayscroll-horizontal div,
.CodeMirror-overlayscroll-vertical div {
  opacity: 0.3;
}
.markdown code {
  background: var(--title-bg-color);
  padding: 0.25em;
  border-radius: 0.5em;
  line-height: 2;
}
.gists {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  border: none;
}
.gists tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.2);
}
.gists td:nth-child(2n) {
  text-align: right;
}

@media (max-width: 740px) {
  .top,
  .bottom {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    margin-left: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #444;
    --main-fg-color: #fff;
    --title-bg-color: #222;
    --button-bg-color: #fff;
    --link-color: #6CF;
  }
}